// Fonts
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
@import url(https://fonts.googleapis.com/css?family=Oswald:300,400,500,600);
@import url(https://fonts.googleapis.com/css?family=Volkhov:400italic);
/*  Lucida Handwriting */
@font-face {
  font-family: "Lucida Handwriting Thin";
  src: url('/Font/LucidaHandwritingStdThin.TTF') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: "Lucida Handwriting Light";
  src: url('/Font/LucidaHandwritingStdLight.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lucida Handwriting";
  src: url('/Font/LucidaHandwritingStdRg.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lucida Handwriting Bold";
  src: url('/Font/LucidaHandwritingStdBold.TTF') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Lucida Handwriting Bolder";
  src: url('/Font/LucidaHandwritingStdBlack.TTF') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
// @font-face {
//   font-family: 'Bree';
//   src: url("/Font/Bree\ Regular.otf") format('opentype');
// }
// @font-face {
//   font-family: 'Parisine';
//   src: url("/Font/Parisine-Bold.otf") format('opentype');
// }


body {
  line-height: 1.5;
  font-family: $font-primary;
  -webkit-font-smoothing: antialiased;

}

.nav{
  line-height: 1.5;
  font-family: $font-secondary;
  -webkit-font-smoothing: antialiased;
}
.title{
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $font-secondary;
  }
}

.service .section-title p{
  font-family: $font-primary;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-primary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
}

h1 {
  font-size: $h1;

  @include tablet {
    font-size: $h1-md;
  }

  @include mobile {
    font-size: $h2;
  }

  @include mobile-xs {
    font-size: $h2-md;
  }
}

h2 {
  font-size: $h2;

  @include mobile {
    font-size: $h2-sm;
  }
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

p {
  color: darken( $light, 49.41);
  font-size: 15px;
  font-family: $font-primary;
}
