
//////Slider 
.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

@import url('https://fonts.googleapis.com/css?family=Quicksand:400,500,700&subset=latin-ext');
html {
  position: relative;
  overflow-x: hidden!important;
}
main {
  overflow-x:hidden;
  overflow-y: hidden;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.news {

  &-slider {
    z-index: 2;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 60px;

    @media screen and (max-width: 1300px){
      max-width: 1000px;
    }

    @media screen and (max-width: 576px) {
      margin-top: 45px;
    }

    &__wrp {
      display: flex;
      align-items: flex-start;
      position: relative;
      z-index: 2;
    }

    &__item {
      width: 400px;
      flex-shrink: 0;
      //padding: 15px;

      &.bignews{
        width: 1000px;
        @media screen and (max-width: 992px) {
          width: 700px;
        }
        @media screen and (max-width: 540px) {
          width: 340px;
        }
      }

      @media screen and (max-width: 992px) {
        width: 340px;
      }

      &.swiper-slide {
        opacity: 0.7;
        pointer-events: none;
        transition: all .3s;
      }

      &.swiper-slide-active,
      &.swiper-slide-prev,
      &.swiper-slide-next {
        opacity: 1;
        pointer-events: auto;
      }


    }

    &__ctr {
      position: relative;
      z-index: 12;
    }

    &__arrow {
      background: #fff;
      border: none;
      display: inline-flex;
      width: 50px;
      height: 50px;
      justify-content: center;
      align-items: center;
      box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);
      border-radius: 50%;
      position: absolute;
      top: 50%;
      z-index: 12;
      cursor: pointer;
      outline: none!important;

      &:focus {
        outline: none!important;
      }

      .icon-font {
        display: inline-flex;
      }

      &.news-slider-prev {
        left: 15px;
        transform: translateY(-50%);
      }

      &.news-slider-next {
        right: 15px;
        transform: translateY(-50%);
      }

    }

    &__pagination {
      text-align: center;
      margin-top: 50px;

      // @media screen and (max-width: 576px) {
      //   margin-top: 50px;
      // }

      .swiper-pagination-bullet {
        width: 13px;
        height: 10px;
        display: inline-block;
        background: rgb(0, 0, 0);
        opacity: .2;
        margin: 0 5px;
        border-radius: 20px;
        transition: opacity .5s, background-color .5s, width .5s;
        transition-delay: .5s, .5s, 0s;
      }

      .swiper-pagination-bullet-active {
        opacity: 1;
        background: #000000;
        width: 100px;
        transition-delay: 0s;

        @media screen and (max-width: 576px) {
          width: 70px;
        }

      }
    }

  }
  

  &__item {
    padding: 40px;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    display: block;
    transition: all .3s;

    &.big-flex{
      display: flex;
      justify-content: space-around;
      @media screen and (max-width: 540px) {
        display: block;
      }
      .textcontainer{
        margin-right: 1rem;
        @media screen and (max-width: 540px) {
          margin-right: 0;
        }
      }
    }

    @media screen and (min-width: 800px) {
      &:hover {
        color: #222222;
        transition-delay: .1s;
        
        //background: #fff;
        box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);

        .news-date,.news__title,.news__txt {
          opacity: 1;
          transition-delay: .1s;
        }

        .news__img {
          box-shadow: none;
        }

      }
    }



    &.active {
      color: #222222;

      .news-date,.news__title,.news__txt {
        opacity: 1;
      }

      .news__img {
        box-shadow: none;
      }

    }

    @media screen and (max-width: 992px) {
      padding: 30px;
    }

    @media screen and (max-width: 576px) {
      padding: 20px;
    }

  }

  &-date {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 2px solid;
    display: inline-block;
    opacity: .7;
    transition: opacity .3s;

    @media screen and (max-width: 576px) {
      margin-bottom: 10px;
      display: inline-flex;
      align-items: center;
      padding-bottom: 0;
    }

    &__title {
      display: block;
      font-size: 32px;
      margin-bottom: 10px;
      font-weight: 500;

      @media screen and (max-width: 576px) {
        margin-right: 10px;
      }

    }

    &__txt {
      font-size: 16px;
    }

  }

  &__title {
    font-size: 25px;
    font-weight: 500;
    opacity: .7;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: opacity .3s;

    @media screen and (max-width: 576px) {
      font-size: 22px;
      margin-bottom: 10px;
    }

  }

  &__txt {
    margin: 10px 0;
    line-height: 1.6em;
    font-size: 15px;
    opacity: .7;
    transition: opacity .3s;
  }

  &__img {
    border-radius: 10px;
    box-shadow: 0 6px 26px 6px rgba(0,0,0,0.25);
    height: 250px;
    transition: all .3s;
    transform-origin: 0% 0%;

    @media screen and (max-width: 576px) {
      height: 180px;
      width: 100%;
      margin-top: 20px;
    }

    img {
      max-width: 100%;
      border-radius: 10px;
      height: 100%;
      width: 100%;
    }

  }
  
}
/*--
    price Start
--*/

#price {
  padding: 70px 0px;
  h2,h3,h4,span{
    font-family: "Lucida Handwriting Bold";
  }
  .lang{
    width: 3rem;
  }
  .btn{
    background-color: transparent;
    border: transparent;
  }

  .fr {
    display: inline-block;
  }
  .en {
    display: none;
  }
}

.itemfood{
  font-family: "Lucida Handwriting"!important;
}
.itemMenu{
  color: #6d071a;
}
#price .block>p {
  
  color: #9D9D9D;
  font-size: 16px;
  line-height: 26px;
  padding: 40px 133px 0;
  text-align: center;
}

#price .block .pricing-list ul {
  padding: 0 0 30px;
  margin: 0;
}

#price .block .pricing-list ul li {
  padding: 21px 0px;
}

#price .block .pricing-list ul li .item .item-title {
  position: relative;
}

#price .block .pricing-list ul li .item .item-title h3 {
  position: relative;
  z-index: 99;
  background: #fff;
}

#price .block .pricing-list ul li .item .item-title .border-bottom {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
  border: 1px dotted #C9C9C9;
  margin-top: 20px;
}
#price .block h2{
  width: 30%;
  min-width: 100px;
}
#price .block .pricing-list ul li .item .item-title span {
  float: right;
  color: #938463;
}

#price .block .pricing-list ul li .item p {
  padding: 12px 0 0px;
  color: #949494;
}

#price .block .pricing-list .btn {
  padding: 28px 105px;
  border-radius: 0px;
  background: none;
  color: #FF4F02;
  border: 1px solid #FF4F02;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  -webkit-transition: .3s all;
  -o-transition: .3s all;
  transition: .3s all;
}

#price .block .pricing-list .btn:hover {
  background: #ff530a;
  color: #fff;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  #price .block p {
    padding: 30px 0 0;
  }
  #price .block .pricing-list {
    text-align: left;
  }
}

@media only screen and (max-width: 767px) {
  #price .block p {
    padding: 40px 0px 0px;
  }
  #price .block .pricing-list {
    text-align: left;
  }
  #price .block .pricing-list ul li .item {
    float: none;
  }
  #price .block .pricing-list ul li .item .item-title .border-bottom {
    display: none;
  }
  #price .block .pricing-list ul li .item .item-title span {
    padding-top: 10px;
    display: block;
    float: none;
  }
  #price .block .pricing-list .btn {
    float: inherit;
    padding: 28px 100px;
  }
}
.share-icon{
  color: #000000;
  :hover{
    color: #6d071a;
  }
}
.accordion-button:not(.collapsed) {
  color: #6d071a;
  background-color: #00000014;
}
.accordion-collapse {
  &:not(.show) {
    display: none;
  }
}
.foodmenu0{
  border: var(--bs-accordion-border-width)solid var(--bs-accordion-border-color)!important;
}
.bg-secondary {
  --bs-bg-opacity:0;
}

.page-title:before{
  background: none;
}

.picture{
  margin-bottom: 30px;
}
.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%!important;
  z-index: 1;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
  left: 50%;
  transform: translate3d(0, 0, 0);
  // max-width: max-content;
  // max-height: max-content;
  margin: auto;
}
.byebye {
  opacity: 1;
}
.byebye:hover {
  // transform: scale(1.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  // grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  height: fit-content;
  cursor: pointer;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}
@media (max-width: 600px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }
}
@media (max-width: 400px) {
  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }
}
@-moz-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-webkit-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@-o-keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}
@keyframes zoomin {
  0% {
    max-width: 50%;
    transform: rotate(-30deg);
    filter: blur(4px);
  }
  30% {
    filter: blur(4px);
    transform: rotate(-80deg);
  }
  70% {
    max-width: 50%;
    transform: rotate(45deg);
  }
  100% {
    max-width: 100%;
    transform: rotate(0deg);
  }
}

.tf-floating-button {
  opacity:1;
  -webkit-box-align:center;
  -ms-flex-align:center;
  align-items:center;
  border:1px solid;
  z-index:9999999;
  background-color:#fff;
  border-radius:4px;
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  height:46px;
  width:280px;
  border-color:rgba(90,149,66,1);
  color:rgba(90,149,66,1);
  position:fixed;
  bottom:10px;
  right:10px

}

.tf-floating-button{
  @media screen and (max-width: 576px) {
    display: none;
  }
}
.tf-widget-link { 
  padding:0 0 0 15px;
  text-decoration:none;
  color:rgba(90,149,66,1);
  font-family:Raleway,sans-serif;
  font-size:1.1em;
  width:70%;
  text-align:center;

}
  
.tf-widget-link:hover {
  font-weight:700;
  background:none!important;
}
.tf-button-icon {
  padding:0 0 0 25px;
  border-left:1px solid rgba(90,149,66,1);
}

.phoneResa {
  display: none;
  @media screen and (max-width: 576px) {
    display: block;
  }
}

.footer{
  .carousel {
    max-height: 240px;
    .carousel-inner{
      height: 240px;
    }
    .carousel-item {
      min-height: 100px;
      height: 240px;
      img {
        width: auto;
        height: 200px;
      }
    }
  }
  .licarousel{
    width: 200px;
  }
}

.alert-info{
  position: fixed;
  z-index: 99999;
  width: 100%;
}