{{ define "main" }}

{{ partial "page-title.html" . }}

<section class="section" style="background: #f5f5f5;">
  <div class="container">
    <div class="row">
      <div class=" col-md-offset-2">
        <div class="text-center">
          <hr>
          {{ .Content }}
          <hr>
          <ul class="list-inline">
            {{ range .Params.social -}}
            <li class="list-inline-item"><a class="share-icon" href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a></li>
            {{- end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

{{ with .Params.divers }}
{{ if .enable }}
<!-- Modal gallery -->
<section class="video">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="section-title text-center">
          <h2>{{ .titre }}</h2>
        </div>
        <div class="d-flex justify-content-center">
        {{ range .videos }}
        <iframe width="560" height="315" 
        src="https://www.youtube-nocookie.com/embed/{{ .id }}" 
        title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        style="margin: 10px;" allowfullscreen></iframe>
        {{ end }}
      </div>
      </div>
    </div>
  </div>
</section>
<!-- Modal gallery -->
{{ end }}
{{ end }}

{{ end }}
