{{ define "main" }}

<!-- Slider  -->
{{ with .Params.slider }}
{{ if .enable }}
<section>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"> 
    <div class="carousel-indicators">
      {{ range $index, $val := .images }}
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ $index }}" {{ if (eq $index 0) }} class="active" aria-current="true" {{ end }} aria-label="Slide {{ $index }}"></button>
      {{ end }}
    </div>
    <div class="carousel-inner">
      {{ range $index, $val := .images }}
      {{ with .image }}<div class="carousel-item {{ if (eq $index 0) }} active {{ end }}" style="background-image: url('{{ . | relURL }}')">{{ end }}
        <div class="carousel-caption">
          {{ with .titre  }}<h1>{{ . }}</h1>{{ end }}
          {{ with .texte  }}<p>{{ . }}</p>{{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Slider -->


<!-- Event  -->
{{ with .Params.event }}
{{ if .enable }}
<section>
  <h1 style="text-align: center; margin-bottom: 4rem;margin-top: 4rem;">{{ .titre | markdownify }}</h1>
  <div class="wrapper">  
    <div class="news-slider">
      <div class="news-slider__wrp swiper-wrapper">
        {{ range sort .evenements ".date" }}
        {{ $t := (time .date) }}
        {{ if $t.After now }}
        <div class="news-slider__item swiper-slide">
          {{ with .nom }}<a  href="{{ `author/` | relLangURL }}{{ . | urlize }}" class="news__item">{{ end }}
            <div class="news-date">
              {{ with .date }} <span class="news-date__title">{{ time.Format ":date_long" . }}</span>{{ end }}
            </div>
            <div class="news__title">
              {{ .titre }}
            </div>
            <div class="news__nom">
              {{ .nom }}
            </div>
            <p class="news__txt">
              {{ .texte }}
            </p>
  
            <div class="news__img">
              <img src="{{ .image | relURL }}" alt="news">
            </div>
          </a>
        </div>
        {{ end }}
        {{ end }}
      </div>
  
      <div class="news-slider__ctr">
  
        <div class="news-slider__arrows">
          <button class="news-slider__arrow news-slider-prev">
            <span class="icon-font">
              <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
            </span>
          </button>
          <button class="news-slider__arrow news-slider-next">
            <span class="icon-font">
              <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
            </span>
          </button>
        </div>
  
        <div class="news-slider__pagination"></div>
  
      </div>
  
    </div>
  
  </div>
  
</section>
{{ end }}
{{ end }}
<!-- /Event  -->

<!-- Food Menu  -->
{{ with .Params.food }}
{{ if .enable }}
<section id="price" class="price section">
	<div class="container">
		<div class="row" >
			<div class="col-md-12 " >
				<div class="block accordion" id="accordion">
          <h1 style="text-align: center; margin-bottom: 4rem;">{{ .titre | markdownify }}</h1>
          {{ range $index, $val := .menus }}
            <div class="accordion-item">
              <div class="accordion-header" id="heading{{ $index }}"> 
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ $index }}" aria-expanded="false" aria-controls="collapse{{ $index }}">                
                  <h2 >{{ .titre | markdownify }}</h2>
                  <p>{{ .description | markdownify }}</p>
                </button>
              </div>
              <div id="collapse{{ $index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ $index }}" data-bs-parent="#accordion">
                <div class="accordion-body">
                  {{ range .sous_menus }}
                  <div class="pricing-list">
                    <div class="title">
                      <h3>{{ .nom | markdownify }}</h3>
                    </div>
                    <ul>
                      {{ range .pricing_item }}
                      <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="item">
                          <div class="item-title">
                            <h3>{{.titre}}</h3>
                            <div class="border-bottom"></div>
                            <span>{{.prix}}</span>
                          </div>
                          <p>{{.description}}</p>
                        </div>
                      </li>
                      {{ end }}
                    </ul>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
          {{ end }}
				</div>
			</div><!-- .col-md-12 close -->
		</div><!-- .row close -->
	</div><!-- .containe close -->
</section><!-- #price close -->
{{ end }}
{{ end }}
<!-- /Food Menu  -->
  {{/*  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapse{{ $index }}" aria-expanded="true" aria-controls="collapse{{ $index }}">
          Collapsible Group Item #1
        </button>
      </h5>
    </div>

    <div id="collapse{{ $index }}" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>  */}}
{{ end }}