{{ define "main" }}

<div class="alert alert-info alert-dismissible fade show" role="alert">
  La réservation sur TheFork ne permet de réserver que pour le Restaurant La Place. Pour réserver à la pizzeria, veuillez contacter le numéro de la Pizzeria.
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<!-- Slider  -->
<!--  TODO 1:  Add Button RESERVATION Center/Bottom of picture from slider  -->
<!--  TODO 2:  Add Vertical animation for slider  -->
<!--  FIXME:  Better picture for slider BeFunky for picture to painting or else  -->
{{ with .Params.slider }}
{{ if .enable }}

<section>
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel"> 
    <div class="carousel-indicators">
      {{ range $index, $val := .images }}
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ $index }}" {{ if (eq $index 0) }} class="active" aria-current="true" {{ end }} aria-label="Slide {{ $index }}"></button>
      {{ end }}
    </div>
    <div class="carousel-inner">
      {{ range $index, $val := .images }}
      {{ with .image }}<div class="carousel-item {{ if (eq $index 0) }} active {{ end }}" style="background-image: url('{{ . | relURL }}')">{{ end }}
        <div class="carousel-caption">
          {{ $colortitre:= .titreColor | default "#fff"}}
          {{ $colortexte:= .texteColor | default "#fff"}}
          {{ with .titre  }}<h1 style="color: {{ $colortitre }};" >{{ . | markdownify }}</h1>{{ end }}
          {{ with .texte  }}<p style="color: {{ $colortexte }};">{{ . | markdownify }}</p>{{ end }}
        </div>
      </div>
      {{ end }}
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Slider -->

<!--  TODO 3:  Add section about me with possible image or video(take it form courtoise site)  -->

<!-- The Fork  -->
<!--  FIXME:  TODO 2  -->
{{ with .Params.fork }}
{{ if .enable }}
<section>
  <div class="tf-floating-button"><a class="tf-widget-link" href="https://www.thefork.fr/restaurant/la-place-villecroze-r498349" target="_blank" rel="noopener">Réserver une table</a><img class="tf-button-icon" src="https://static.myfourchette.com/uploads/email_campaign/56567_IsotypeTheForkGreenSm.png"></div>
</section>
{{ end }}
{{ end }}
<!-- /The Fork -->

<!-- Event  -->
{{ with .Params.event }}
{{ if .enable }}
{{ $.Scratch.Set "counter" 0 }}
{{ range sort .evenements }}
{{ $t := (time .date) }}
{{ if $t.After now }}
{{ $.Scratch.Set "counter" (add ($.Scratch.Get "counter") 1) }}
{{ end }}
{{ end }}
{{ $count := $.Scratch.Get "counter"}}
{{ if gt $count 0}}
<section>
  <h1 style="text-align: center; margin-bottom: 4rem;margin-top: 4rem;">{{ .titre | markdownify }}</h1>
  <div class="wrapper">  
    <div class="news-slider">
      <div class="news-slider__wrp swiper-wrapper">
       
        
        {{ range sort .evenements ".date" }}
        {{ $t := (time .date) }}
        {{ if $t.After now }}
        <div class=" news-slider__item {{if le $count 2}} bignews {{ end }} swiper-slide ">
          {{ with .nom }}<a  href="{{ `author/` | relLangURL }}{{ . | urlize }}" class="news__item {{if le $count 2}} big-flex {{ end }}">{{ end }}
            <div class="textcontainer">
              <div class="news-date">
                {{ with .date }} <span class="news-date__title">{{ time.Format ":date_long" . }}</span>{{ end }}
              </div>
              <div class="news__title">
                {{ .titre }}
              </div>
              <div class="news__nom">
                {{ .nom }}
              </div>
              <p class="news__txt">
                {{ .texte }}
              </p>
            </div>
            <div class="news__img">
              <img src="{{ .image | relURL }}" alt="news">
            </div>
          </a>
        </div>
        {{ end }}
        {{ end }}
      </div>
      
      <div class="news-slider__ctr">
  
        <div class="news-slider__arrows">
          <button class="news-slider__arrow news-slider-prev">
            <span class="icon-font">
              <svg class="icon icon-arrow-left"><use xlink:href="#icon-arrow-left"></use></svg>
            </span>
          </button>
          <button class="news-slider__arrow news-slider-next">
            <span class="icon-font">
              <svg class="icon icon-arrow-right"><use xlink:href="#icon-arrow-right"></use></svg>
            </span>
          </button>
        </div>
  
        <div class="news-slider__pagination"></div>
  
      </div>
  
    </div>
  
  </div>
  
</section>
{{ end }}
{{ end }}
{{ end }}
<!-- /Event  -->

<!-- Food Menu  -->
<!--  FIXME:  Delete part from 'A Cote'  -->
<!--  TODO:  Remake Menu to be more user Friendly   -->
{{ with .Params.food }}
{{ if .enable }}
<section id="price" class="price section">
	<div class="container">
		<div class="row" >
			<div class="col-md-12 " >
				<div class="block accordion" id="accordion">
          <div style="text-align: center; margin-bottom: 4rem;">
            <h1>{{ .titre | markdownify }}</h1>
            <div class="d-flex justify-content-center">
              <button type="button" id="BtnFR" class="btn btn-light m-1"><img class="lang" src="/images/flag/france.png" alt="FR"></button>
              <button type="button" id="BtnEN" class="btn btn-light m-1"><img class="lang" src="/images/flag/anglais.png" alt="EN"></button>
            </div>
          </div>
          {{ range $index, $val := .menus }}
            <div class="accordion-item foodmenu{{ $index }}">
              <div class="accordion-header" id="heading{{ $index }}"> 
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ $index }}" aria-expanded="false" aria-controls="collapse{{ $index }}">                
                  <h2 >{{ .titre | markdownify }}</h2>
                  <p>{{ .description | markdownify }}</p>
                </button>
              </div>
              <div id="collapse{{ $index }}" class="accordion-collapse collapse" aria-labelledby="heading{{ $index }}" data-bs-parent="#accordion">
                <div class="accordion-body">
                  {{ range .sous_menus }}
                  <div class="pricing-list">
                    <div class="title">
                      <h3 class="itemMenu fr">{{ .nom_fr | markdownify }}</h3>
                      <h3 class="itemMenu en">{{ .nom_en | markdownify }}</h3>
                    </div>
                    <ul>
                      {{ range .pricing_item }}
                      {{ if .enable }}
                      <li class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="300ms">
                        <div class="item">
                          <div class="item-title">
                            <h3 class="itemfood fr">{{.titre_fr}}</h3>
                            <h3 class="itemfood en">{{.titre_en}}</h3>
                            <div class="border-bottom"></div>
                            <span>{{.prix}}</span>
                          </div>
                          {{ if .description_fr }}<p class="fr">{{ .description_fr }}</p>{{ end }}
                          {{ if .description_en }}<p class="en">{{ .description_en }}</p>{{ end }}
                        </div>
                      </li>
                      {{ end }}
                      {{ end }}
                    </ul>
                  </div>
                  {{ end }}
                </div>
              </div>
            </div>
          {{ end }}
				</div>
			</div><!-- .col-md-12 close -->
		</div><!-- .row close -->
	</div><!-- .containe close -->
</section><!-- #price close -->
{{ end }}
{{ end }}
<!-- /Food Menu  -->

<!-- Insta  -->
{{ with .Params.insta }}
{{ if .enable }}
<section style="margin-bottom: 50px;">
  <div class="container">
		<div class="row" >
			<div class="col-md-12 " >
        <h1 style="text-align: center; margin-bottom: 4rem;">{{ .titre | markdownify }}</h1>
        <div data-behold-id="{{ .id }}"></div>
        <script src="https://widgets.behold.so/ig.js" defer></script>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /Insta  -->

{{ end }}

